<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Сайт с курсами</title>
    <link rel="stylesheet" type="text/css" href="../dist/styles.css">
     <script src="../dist/bundle.js"></script>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="header__item">
                <a src="#">Courses</a>
            </div>
            <div class="header__item">
                <a src="#">Job in company's</a>
            </div>
            <div class="header__item">
                <a src="#">For our partners</a>
            </div>
            <div class="header__item">
                <a src="#">Blog</a>
            </div>
        </div>
    </div>

    <div class="banner">
        <div class="container">
            <h1>The best work practices and solutions in one place.</h1>
            <h2>Come and get it</h2>
        </div>
    </div>


    <div class="lessons">
        <div class="container">
             <h1>Lessons</h1>

            <div class="lessons__status">
                 <div class="lessons__param">1</div>
                 <p>Technical supports</p>
            </div>
            <div class="lessons__status">
                 <div class="lessons__param">1</div>
                 <p>Technical supports</p>
            </div>
            <div class="lessons__status">
                 <div class="lessons__param">1</div>
                 <p>Technical supports</p>
            </div>
            <div class="lessons__status">
                 <div class="lessons__param">1</div>
                 <p>Technical supports</p>
            </div>
            <div class="lessons__status">
                 <div class="lessons__param">1</div>
                 <p>Technical supports</p>
            </div>


            <div class="lessons__item">
                 <div class="lessons__counter">1</div>
                 <div class="lessons__name">Technical supports</div>
                 <div class="lessons__content">
                    <div class="lessons__field">Date and Time</div>
                    <div class="lessons__value">25 jun, monday 20:00</div>
                 </div>

            </div>

            <div class="lessons__item">
                 <div class="lessons__counter">1</div>
                 <div class="lessons__name">Technical supports</div>
                 <div class="lessons__content">
                    <div class="lessons__field">Date and Time</div>
                    <div class="lessons__value">25 jun, monday 20:00</div>
                 </div>

             </div>
            <div class="lessons__item">
                 <div class="lessons__counter">1</div>
                 <div class="lessons__name">Technical supports</div>
                 <div class="lessons__content">
                    <div class="lessons__field">Date and Time</div>
                    <div class="lessons__value">25 jun, monday 20:00</div>
                 </div>

             </div>
            <div class="lessons__item">
                 <div class="lessons__counter">1</div>
                 <div class="lessons__name">Technical supports</div>
                 <div class="lessons__content">
                    <div class="lessons__field">Date and Time</div>
                    <div class="lessons__value">25 jun, monday 20:00</div>
                 </div>

             </div>
            <div class="lessons__item">
                 <div class="lessons__counter">1</div>
                 <div class="lessons__name">Technical supports</div>
                 <div class="lessons__content">
                    <div class="lessons__field">Date and Time</div>
                    <div class="lessons__value">25 jun, monday 20:00</div>
                 </div>

             </div>

        </div>
    </div>



    <div class="footer">
        <div class="container">
            <ul class="footer__menu">
                <li>The Project</li>
                <li><a href="#">About</a></li>
                <li><a href="#">Icon Creators</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Iconathon</a></li>
            </ul>
            <ul class="footer__menu">
                <li>Pricing</li>
                <li><a href="#">NounPro</a></li>
                <li><a href="#">Teams</a></li>
                <li><a href="#">Education</a></li>
            </ul>
            <ul class="footer__menu">
                <li>Products</li>
                <li><a href="#">Apps &amp; Plugins</a></li>
                <li><a href="#">Icon API</a></li>
                <li><a href="#">Nounji</a></li>
                <li><a href="#">Lingo</a></li>
            </ul>
        </div>
    </div>



<script>init();</script>
</body>
</html>