<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сайт с курсами</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
     <script src="app.js"></script>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="header__item">
                <a src="#">Courses</a>
            </div>
            <div class="header__item">
                <a src="#">Job in company's</a>
            </div>
            <div class="header__item">
                <a src="#">For our partners</a>
            </div>
            <div class="header__item">
                <a src="#">Blog</a>
            </div>
        </div>
    </div>


    <div class="banner">
        <div class="container">
            <h1>The best work practices and solutions in one place.</h1>
            <h2>Come and get it</h2>
        </div>
    </div>



    <div class="pop-courses">
        <div class="container">
            <h2>Popular courses</h2>
            <div class="pop-courses__card">
                <a><img src="https://cdn-images-1.medium.com/max/1600/1*ZXixptvL4rzkx3EDuj38xw.jpeg"></a>
                <span>Description</span>
            </div>
            <div class="pop-courses__card">
                <a><img src="https://cdn-images-1.medium.com/max/1600/1*ZXixptvL4rzkx3EDuj38xw.jpeg"></a>
                <span>Description</span>
            </div>
            <div class="pop-courses__card">
                <a><img src="https://cdn-images-1.medium.com/max/1600/1*ZXixptvL4rzkx3EDuj38xw.jpeg"></a>
                <span>Description</span>
            </div>
        </div>
    </div>



    <div class="teachers">
        <div class="container">
            <h2>Teachers</h2>
            <div class="teachers__card">
                <a><img src="https://d210i8t551lxm.cloudfront.net/images/contents/000/001/355/original/teacher_teaser.jpg?1504864921"></a>
                <div class="card__fio">Mikhail Jouravlev</div>
                <div class="card__company"> IBM</div>
                <div class="card__position"> Front-end developer</div>
            </div>
            <div class="teachers__card">
                <a><img src="https://d210i8t551lxm.cloudfront.net/images/contents/000/001/355/original/teacher_teaser.jpg?1504864921"></a>
                <div class="card__fio">Mikhail Jouravlev</div>
                <div class="teachers__card__company"> IBM</div>
                <div class="teachers__card__position"> Front-end developer</div>
            </div>
            <div class="teachers__card">
                <a><img src="https://d210i8t551lxm.cloudfront.net/images/contents/000/001/355/original/teacher_teaser.jpg?1504864921"></a>
                <div class="card__fio">Mikhail Jouravlev</div>
                <div class="teachers__card__company"> IBM</div>
                <div class="teachers__card__position"> Front-end developer</div>
            </div>
            <div class="teachers__card">
                <a><img src="https://d210i8t551lxm.cloudfront.net/images/contents/000/001/355/original/teacher_teaser.jpg?1504864921"></a>
                <div class="card__fio">Mikhail Jouravlev</div>
                <div class="card__company"> IBM</div>
                <div class="card__position"> Front-end developer</div>
            </div>
        </div>
    </div>


    <div class="footer">
        <div class="container">
            <ul class="footer__menu">
                <li>The Project</li>
                <li><a href="#">About</a></li>
                <li><a href="#">Icon Creators</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Iconathon</a></li>
            </ul>
            <ul class="footer__menu">
                <li class="list-header">Pricing</li>
                <li><a href="#">NounPro</a></li>
                <li><a href="#">Teams</a></li>
                <li><a href="#">Education</a></li>
            </ul>
            <ul class="footer__menu">
                <li class="list-header">Products</li>
                <li><a href="#">Apps &amp; Plugins</a></li>
                <li><a href="#">Icon API</a></li>
                <li><a href="#">Nounji</a></li>
                <li><a href="#">Lingo</a></li>
            </ul>
        </div>
    </div>

<script>init();</script>

</body>
</html>