<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сайт с курсами</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <!-- <link rel="stylesheet/less" type="text/css"  href="styles.less"> -->
    <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.3/less.min.js" ></script> -->
     <script src="../dist/bundle.js"></script>
</head>
<body>
<div class="auth-bg">
    <div class="auth-bg__form login-form">
        <h2>Login</h2>
        <div class="auth-bg__input-field">
             <span>Login</span>
             <input type="text" id="login-form__login">
        </div>
        <div class="auth-bg__input-field">
              <span>Password</span>
             <input type="text" id="login-form__pass">
        </div>
        <input type="button" value="Login" onclick="login('#login-form__login', '#login-form__pass')">
    </div>
</div>





</body>
</html>
