<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сайт с курсами</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <!-- <link rel="stylesheet/less" type="text/css"  href="styles.less"> -->
    <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.3/less.min.js" ></script> -->
     <script src="app.js"></script>
</head>
<body>
<div class="auth-bg">
    <div class="auth-bg__form register-form">
        <h2>Register</h2>
        <div class="auth-bg__input-field">
            <span>Login</span>
            <input type="text" id="register-login">
        </div>
        <div class="auth-bg__input-field">
            <span>Password</span>
            <input type="password" id="register-pass">
        </div>
        <div class="auth-bg__input-field">
            <span>Repeat Password</span>
            <input type="password" id="register-pass2">
        </div>
        <div class="auth-bg__input-field">
            <span>Email</span>
            <input type="text" id="register-mail">
        </div>
        <input type="button" value="Register">
    </div>
</div>




</body>
</html>